.register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/317355/pexels-photo-317355.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
  background-size: cover;
}

.registerTitle {
  font-size: 50px;
  margin-bottom: 30px ;

}

.registerForm {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
  font-size: 18px;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
  width: 25vw;
  border-radius: 10px;
}

.registerInput:focus {
  outline: none;
}

.registerButton {
  margin-top: 20px;
  cursor: pointer;
  background-color: rgb(13, 168, 23);
  color: white;
  padding: 10px;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  text-align: center;
}

.registerLoginButton {
  position: absolute;
  top: 70px;
  right: 30px;
  background-color: rgb(15, 132, 132);
  cursor: pointer;
  padding: 10px;
  font-size: 17px;
  border: 2px solid black;

  color: white;
  border-radius: 10px;
}